.tombol_login{
	background: rgb(255, 239, 14);
	color: black;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.form_login{
	box-sizing : border-box;
	width: 100%;
    margin-bottom: 20px;
	padding: 10px;
	font-size: 11pt;
}
.kotak_login{
    padding: 30px 20px;
	background: #e1e99c;
	margin: 80px auto;
    box-shadow: 0px 0px 100px 4px rgb(225, 230, 174);
	width: 350px;

}

h1{
	text-align: center;
}

.text{
    text-align: center;
    font-size: 20px;
}


